<div class="container">
    <h1>My Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div *ngFor='let quote of quotes;let i=index'>
                <li id={{i}} appStrikethrough *ngIf="highestUpvote()===quote.upvoteS && quote.upvoteS>0">{{quote.description}}</li>
                <li *ngIf="highestUpvote()!==quote.upvoteS || quote.upvoteS===0">{{quote.description}}</li>
                <p > POsted  on {{quote.completeDate|date|uppercase}}</p>
                <div>
                    
                   
                    <button (click)='toggleDetails(i)' class="btn btn-primary"> View Quotes Details</button>
                   
                    
                </div>
                <div *ngIf='quote.showDescription'>

                    <app-quote-detail [quote]='quote' (isComplete)='deleteQuotes($event,i)'></app-quote-detail>
                    <button  class="btn btn-outline-info" (click)="upvote(i)">Upvote</button>
                    <button id="p" class="btn btn-outline-info" (click)="downvote(i)">Downvote</button>

                    
              
                    

                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
    <p *ngIf='quotes.length> 5'> you have too many quotes</p>
</div>